*{
  padding: 0;
  margin: 0;
}
main{
    flex-grow: 1;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    width: 100%;
    height: auto;
    background: #231f20;
    margin: 0 auto;
    text-align: center;
    padding: 3rem 1.5rem 6rem;
}

.graficlogo{
    display: block;
    margin: 100;
}


.middle{
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.btn{
  display: inline-block;
  width: 60px;
  height: 60px;
  background: rgb(50,50,50);
  margin: 5px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #f1f1f1;
  overflow: hidden;
  position: relative;
}
.btn i{
  line-height: 60px;
  font-size: 30px;
  transition: 0.2s linear;
}
.btn:hover i{
  transform: scale(1.3);
  color: rgb(50,50,50);
}
.btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #f1f1f1;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}

