<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Check Weather In Your City</title>
     <link rel='stylesheet' href="{{ url_for('static', filename='css/style.css') }}" type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>

<body>
    <div class="header">
        <h1 class="headertitle">
            Weather
        </h1>
        <a class="logbtn" href="/logout">
            <i class="fa fa-power-off" aria-hidden="true"></i>
        </a>

    </div>

    <main>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-offset-4 is-4">
                        <form method="POST">
                            <div class="field has-addons">
                                <div class="control is-expanded">
                                    <input class="input" name="city" type="text" placeholder="City Name">
                                </div>
                                <div class="control">
                                    <button class="accbtn">
                                        Add City
                                    </button>
                                </div>
                            </div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                    {% set message_class = 'is-success' %}

                                    {% if category == 'error' %}
                                        {% set message_class = 'is-danger' %}
                                    {% endif %}
                                    <div class="notification {{ message_class }}">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-offset-4 is-4">
                        {% for weather in weather_data %}
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <span class="title">{{ weather.city }}</span>
                                            <br>
                                            <span class="subtitle">{{ weather.temperature }}°C</span>
                                            <br> {{ weather.description }}
                                        </p>
                                    </div>
                                </div>
                                <div class="media-right">
                                    <a href="{{ url_for('delete_city', name=weather.city) }}">
                                        <button class="delete"></button>
                                    </a>
                                </div>
                            </article>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="middle">
            <a class="btn" href="https://github.com/smoothbronx">
                <i class="fab fa-github"></i>
            </a>
            <a class="btn" href="mailto: vlad.uhwatov@yandex.ru ?subject=I Have a question &bcc=yxbatobv@mail.ru">
                <i class="fa fa-envelope"></i>
            </a>
            <a class="btn" href="https://vk.com/amk.bronx69">
                <i class="fab fa-vk"></i>
            </a>

        </div>
    </footer>
</body>
</html>